<!DOCTYPE html>
<html>
  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container">
      <form method="POST" enctype="multipart/form-data">
        {{ text_field("Name", "name", name) | safe }}
        <div class="mb-3">
          <label for="age">Age:</label>
          <input class="form-control" id="age" name="age" value="{{ age }}" type="number" />
        </div>
        <div class="mb-3">
          <label for="image_1" class="form-label">
            Image 1 --
            {% if image_1 %}(use current value){% else %}No file set{% endif %}</span>
          </label>
          <div class="row">
            {% if image_1 %}
              <div class="col flex-grow-0">
                <img class="rounded" src="data:{{ image_1_mime }};base64,{{ image_1 }}" style="width: 50px;">
              </div>
            {% endif %}
            <div class="col">
              <input class="form-control" type="file" name="image_1" id="image_1" accept="image/*">
            </div>
          </div>
        </div>
        <div class="mb-3">
          <button class="btn btn-primary" type="submit">Submit</button>
        </div>
      </form>
    </div>
  </body>
</html>
