<script src="https://cdn.socket.io/4.4.1/socket.io.min.js"></script>

<script>
  const socket = io();
  socket.on("refresh", () => {
    console.log("Got refresh message!");
    window.location.reload();
  });
</script>

<p>Your name: <strong>{{ name }}</strong></p>
<p>Your age: <strong>{{ age }}</strong></p>

{% if image_1 %}
  <img class="rounded" src="data:{{ image_1_mime }};base64,{{ image_1 }}" style="width: 50px;">
{% else %}
  Image 1 does not exist
{% endif %}
